<footer class="footer" style="padding: 20px">
    <div class="content has-text-centered">
        <p>
            &copy; {{ now.Format "2006" }} Timo Josten &middot;
            <a href="https://josten.io">Professional Portfolio</a> &middot;
            <a href="https://static.josten.io/impressum.html"
                >Legal & Imprint</a
            >
        </p>
        {{ if $.GitInfo }}
        <p>
            Last modified {{ $.GitInfo.AuthorDate.Format "January 02, 2006" }}
            {{ if $.Site.Params.repoLink }} (commit
            <a
                href="{{ $.Site.Params.repoLink }}/commit/{{ $.GitInfo.Hash }}"
                target="_blank"
                >{{ $.GitInfo.AbbreviatedHash }}</a
            >) {{ else }} (commit {{ $.GitInfo.AbbreviatedHash }}) {{ end }}
        </p>
        {{ end }}
    </div>
</footer>
